# SPDX-FileCopyrightText: 2024 GLAS Education <angel@glaseducation.org>
# SPDX-License-Identifier: AGPL-3.0-only

# R
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Mac
**/.DS_Store

# python astro
de421.bsp

# weather
/Data/weather*.csv

# virtualenv
/.venv

# deployment
deployapp.R
/rsconnect
